{
  "openapi": "3.0.0",
  "info": {
    "title": "ArbiSim Guard API",
    "version": "1.0.0",
    "description": "Pre-flight AI Agent Execution & Simulation Layer API for Circle Agent Stack and x402 Nanopayments."
  },
  "servers": [
    {
      "url": "https://api.arbisimguard.com"
    }
  ],
  "paths": {
    "/api/v1/simulate": {
      "post": {
        "summary": "Submit a transaction batch or UserOperation for pre-flight simulation",
        "description": "Submit EOA transactions or smart account UserOps to be simulated on isolated local forks of Arbitrum."
      }
    },
    "/api/v1/simulate/{session_id}": {
      "get": {
        "summary": "Retrieve simulation logs and computed telemetry"
      }
    },
    "/api/v1/stats": {
      "get": {
        "summary": "Usage statistics for the authenticated API key"
      }
    },
    "/api/v1/sim/public/{sessionId}": {
      "get": {
        "summary": "Public read-only simulation result (no auth required)"
      }
    },
    "/api/v1/sim/public/{sessionId}/view": {
      "post": {
        "summary": "Track a unique view on a public simulation and award credits on milestone"
      }
    },
    "/api/v1/logs": {
      "get": {
        "summary": "Retrieve history of simulation API calls for the authenticated key"
      }
    },
    "/api/v1/analytics": {
      "get": {
        "summary": "Risk analytics dashboard data"
      }
    },
    "/api/v1/feed": {
      "get": {
        "summary": "Public Safety Feed - recent anonymized simulation verdicts"
      }
    },
    "/api/v1/sim/public/:id": {
      "get": {
        "summary": "Public simulation explorer details (anonymized)"
      }
    },
    "/api/v1/circle/policy-check": {
      "post": {
        "summary": "Circle Agent Wallet Pre-Flight Custom Policy Hook",
        "description": "Evaluates transaction or UserOp payloads for Circle Agent Wallets and returns an approved/rejected verdict."
      }
    }
  },
  "components": {},
  "tags": []
}